.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container a {
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 70px;
    font-size: 20px;
    color: #fff;
    border-radius: 35px;
    border: 2px solid #b6b6b6;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button-container a:first-child {
    background-color: green;
    margin: 70px 0 24px 0;
}

.button-container a:last-child {
    background-color: red;
}

.button-container a:hover {
    background-color: rgba(135, 135, 135, 0.5);
    box-shadow: 0 0 5px rgb(255, 255, 255);
}
