.loginForm {
    font-family: Gill Sans, sans-serif;
}

.registrationContainer {
    position: relative;
  }
  
  .errorWindow {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    background-color: #f8d7da;
    border: 1px solid #aea1a1;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation: fade-in 1s ease-in-out;
  }
  
  .errorMessage {
    color: #721c24;
  }
  
  @keyframes fade-in {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
  }
  

.adminPanel {
    margin: 20px 0 26px 0;
}

.loginFormInput {
    margin: 4px 0 5px 0;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 6px;
    padding: 4px 40px 4px 8px;
}

.btnLogin {
    border-radius: 12px;
    border: 1px solid black;
    background-color: black;
    color: #fff;
    padding: 4px 92px 4px 92px;
    margin-top: 8px;
    box-shadow: 0 0 8px -1px black;
    cursor: pointer;
}

.inputsError {
    margin-top: 10px;
    color: red;
    font-size: 12px;
}

.invalidAuth {
    font-size: 13.5px;
    margin-bottom: 8px;
}